<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <%= link_to "Title", params.merge(:utf8 => params[:utf8], :search => params[:search], :x => "5", :y => "").permit(:utf8, :search, :x, :y), title:"Alphabetical" %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
